# GENERAL
TZ=${YOUR_TIME_ZONE:-America/Toronto}
PUID=${YOUR_PUID:-1000}
PGID=${YOUR_PGID:-1000}
TAILNET_SUFFIX={YOUR_TAILNET_SUFFIX}
DOMAIN_BASE={YOUR_DOMAIN_BASE}
SSD_PATH={YOUR_SSD_PATH}

# N8N CONFIGURATION
N8N_DB_NAME={N8N_DB_NAME}
N8N_DB_USER={N8N_DB_USER}
N8N_DB_PASSWORD={N8N_DB_PASSWORD}
