# GENERAL
TZ=America/Toronto # Timezone (e.g., America/Toronto)
PUID=1000
PGID=1000

NAS_PATH=/mnt/nas
SSD_PATH=/mnt/ssd

# JELLYSEERR configuration
TAILNET_SUFFIX={TAILNET_SUFFIX}
DOMAIN_BASE={DOMAIN_BASE}

# LABELARR configuration
LABELARR_CONFIG=${HOME}/configs/labelarr-config
LABELARR_EXPORTS=${HOME}/labelarr/labelarr-exports
PLEX_TOKEN={PLEX_TOKEN}
TMDB_READ_ACCESS_TOKEN={TMDB_READ_ACCESS_TOKEN}
PLEX_SERVER={PLEX_SERVER_IP}
RADARR_API_KEY={RADARR_API_KEY}
SONARR_API_KEY={SONARR_API_KEY}
