# GENERAL
TZ=America/Toronto # Set your timezone
PUID=1000
PGID=1000
SSD_PATH=/mnt/ssd
TAILNET_SUFFIX={TAILNET_SUFFIX}
DOMAIN_BASE={DOMAIN_BASE}
SSD_PATH={SSD_PATH}

# MONGODB CONFIG
MONGO_ROOT_USER={MONGO_ROOT_USER}
MONGO_ROOT_PASSWORD={MONGO_ROOT_PASSWORD}
MONGO_INITDB_DATABASE={MONGO_INITDB_DATABASE}

# MONGO EXPRESS CONFIG
MONGO_EXPRESS_USER={MONGO_EXPRESS_USER}
MONGO_EXPRESS_PASSWORD={MONGO_EXPRESS_PASSWORD}
