# GENERAL
TZ=America/Toronto # Set your timezone
PUID=1000
PGID=1000

# qBittorrent configuration
NAS_PATH_TORRENTS=/mnt/nas/torrents # Path to torrents directory mount point

# VPN configuration - follow the documentation for your specific provider
VPN_SERVICE_PROVIDER={your_provider}
VPN_TYPE={your_vpn_type}
WIREGUARD_PRIVATE_KEY={your_wireguard_private_key} # Only if using WireGuard
SERVER_COUNTRIES={countries_list} # Comma-separated list of server countries

# GLUETUN configuration
VPN_PORT_FORWARDING_STATUS_FILE=/tmp/gluetun/forwarded_port
QBIT_USER={your_qbittorrent_username}
QBIT_PASS={your_qbittorrent_password}
