# GENERAL
TZ=America/Toronto # Set your timezone
PUID=1000
PGID=1000

# TAILSCALE CONFIGURATION
TAILSCALE_AUTHKEY={YOUR_TAILSCALE_AUTHKEY_HERE}

# TRAEFIK CONFIGURATION
TAILNET_SUFFIX={YOUR_TAILNET_SUFFIX_HERE}
DOMAIN_BASE={YOUR_DOMAIN}
SSL_EMAIL={YOUR_SSL_EMAIL}
CF_TOKEN={YOUR_CLOUDFLARE_TOKEN}
CF_EMAIL={YOUR_CLOUDFLARE_EMAIL}

# JELLYFIN CONFIGURATION
NAS_PATH=/mnt/nas
