# GENERAL
TZ=America/Toronto
PUID=1000
PGID=1000
VERSION=docker

# PLEX CONFIGURATION
NAS_PATH=/mnt/nas # Path to mount point where media is stored
# Optional: one-time claim token if you want Plex to auto-claim this server (visit https://www.plex.tv/claim)
PLEX_CLAIM=
